  *{
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
  }
  
  .navbar__container {
    display: flex;
    align-items: center;
  }
  
  .navbar__brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .navbar__menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar__item {
    margin-right: 20px;
  }
  
  .navbar__link {
    color: #333;
    text-decoration: none;
  }
  
  .navbar__search {
    margin-left: auto;
  }
  
  .navbar__search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .navbar__search-button {
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .navbar__search-button:hover {
    background-color: #555;
  }

  .banner {
    background: url(banner.png) no-repeat;
    background-position: relative ;
    background-size: cover;
    height: 550px;
    width: 100%;
    place-content: center;
  }

  .container {
    position: absolute;
    top: 50%;
    left : 50%;
    text-align: center;
    font-weight: 700;
    transform: translate(-50%, -50%);
  }

  .container h1{
    margin: 0;
    font-size: 60px;
  }

  .content {
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4em;
    margin-right: 4em;
  }
  
  /* .recent, .pin, .other {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
  }
  
  .recent h2, .pin h2, .other h2 {
    margin-top: 0;
  }
  
  .recent__list, .pin__list, .other__list {
    list-style-type: none;
    padding: 0;
  }
  
  .recent__item, .pin__item, .other__item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .recent__item:hover, .pin__item:hover, .other__item:hover {
    background-color: #f0f0f0;
  } */

  .categories {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .categories__list {
    min-width: 99%;
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 10px;
  }
  
  .categories__item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50px;
  }
  
  .categories__item:hover {
    background-color: #e5dc32;
  }
  
  .recipe-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .recipe-card:hover {
    background-color: #f0f0f0;
  }
  
  .card {
    border: 1px solid #ccc;
    margin: 1em; 
    width: calc(100%/4);
  }

  .card-wrapper{
    display: flex;
    margin-left: 4em;
    margin-right: 4em;
  }
  
  .card img {
    height: 230px;
    width: 100%; 
  }
  
  .card h5 {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px; /* Tambahkan margin atas */
  }
  
  .card .time{
    margin-left: 25px;
    margin-top: 10px;
  }
  
  .card .time .row {
    display: flex; /* Gunakan flexbox untuk layout baris */
    align-items: center; /* Pusatkan vertikal */
    margin-bottom: 10px;
  }
  
  .card .time .row i {
    margin-right: 10px; /* Tambahkan margin kanan antara ikon dan teks */
    display: flex;
  }
  
  .card .time .row p {
    margin-left: 3px; /* Tambahkan margin kiri untuk teks tag */
  }
  