<div class="footer">
    <p class="footer__brand"><i class="fa-solid fa-kitchen-set"></i>Flavora</p>
    <p>Follow us on social media</p>
    <div class="social-icons">
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
</div>