<div class="footer">
    <p class="footer__brand"><i class="fa-solid fa-kitchen-set"></i>Flavora</p>
    <p>Follow us on social media</p>
    <div class="social-icons">
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <form id="logoutForm">
      <a href="/" onclick="logout()">Logout</a>
  </form>
  </div>

  <script>
    async function logout() {
    try {
      const response = await fetch(`/`, {
          method: 'DELETE',
      });

      if (!response.ok) {
          throw new Error('Failed to LOGOUT');
      } else {
        console.log('Logout succes')
      }

      // Refresh halaman untuk memperbarui daftar review
    } catch (error) {
        console.error(error);
        alert('Failed to logout');
    }
    }
  </script>