<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <%- include('layouts/headerLogin.ejs') %>
    <body ng-controller="loginController">
        <!-- Page Header-->
        <%- body %>
        <!-- Footer-->
    </body>
</html>