<div class="content">
    <h1>Add new recipe</h1>

    <form action="/admin/addRecipe" method="POST" enctype="multipart/form-data">
        <div class="input-box food-name">
            <label class="input-label" for="title">
                Food Name
            </label>
                <input 
                    type="text" 
                    name="title" 
                    placeholder="Enter food name" 
                    required
                />
        </div>  

        <div class="input-box food-image">
            <label class="input-label" for="img">
                Food Image
            </label>
              <input
                type="file"
                name="img"
                required
              >
        </div>

        <div class="input-box">
            <label class="input-label" for="category">
                Category
            </label>
                <input 
                    type="radio" 
                    name="category" 
                    value="Breakfast"
                    required
                >
                <label class="radio-label" for="category">
                    Breakfast
                </label>
                <input 
                    type="radio" 
                    name="category" 
                    value="Lunch"
                    required
                >
                <label class="radio-label" for="category">
                    Lunch
                </label>
                <input 
                    type="radio" 
                    name="category" 
                    value="Dinner"
                    required
                >
                <label class="radio-label" for="category">
                    Dinner
                </label>
                <input 
                    type="radio" 
                    name="category" 
                    value="Snack"
                    required
                >
                <label class="radio-label" for="category">
                    Snack
                </label>
        </div>
        <div class="input-box">
            <label class="input-label" for="nationality">
                Nationality
            </label>
                <input 
                    type="radio" 
                    name="nationality" 
                    value="Asian"
                    required
                >
                <label class="radio-label" for="nationality">
                    Asian
                </label>
                <input 
                    type="radio" 
                    name="nationality" 
                    value="Western"
                    required
                >
                <label class="radio-label" for="nationality">
                    Western
                </label>
        </div>
        <div class="input-box">
            <label class="input-label" for="featured">
                Featured
            </label>
                <input 
                    type="radio" 
                    name="featured" 
                    value="yes"
                    required
                >
                <label class="radio-label" for="featured">
                    Yes
                </label>
                <input 
                    type="radio" 
                    name="featured" 
                    value="no"
                    required
                >
                <label class="radio-label" for="featured">
                    No
                </label>
        </div>
        
        <div class="input-box">
            <label class="input-label" for="desc">
                Description
            </label>
                <textarea
                    name="desc" 
                    cols="50"
                    rows="8"
                    placeholder="Enter food description" 
                    required
                ><%= recipes.desc %></textarea>
        </div>
        <div class="input-box small">
            <label class="input-label" for="serving">
                Food Serving
            </label>
                <input 
                    type="text" 
                    name="serving" 
                    placeholder="Food serving" 
                    required
                >
        </div>
        <div class="input-box small">
            <label class="input-label" for="length">
                Total Ingredients
            </label>
                <input 
                    type="text" 
                    name="length" 
                    placeholder="Total Ingredients" 
                    required
                >
        </div>
        <div class="input-box small">
            <label class="input-label" for="minutes">
                Cooking Time
            </label>
                <input 
                    type="text" 
                    name="minutes" 
                    placeholder="Cooking Time"  
                    required
                >
        </div>
        <div class="input-box small">
            <label class="input-label" for="calories">
                Calories
            </label>
                <input 
                    type="text" 
                    name="calories" 
                    placeholder="Calories" 
                    required
                >
        </div>
        <div id="ingredients">
            <div class="input-box long">
                <label class="input-label" for="bahan1">
                    Ingredient 1
                </label>
                <input 
                    type="text" 
                    name="bahan[]" 
                    id="bahan1" 
                    placeholder="Enter ingredient" 
                    required
                >
                <button type="button" class="delete-button" onclick="removeInputBox(this)">Delete</button>

            </div>
        </div>
        <button type="button" id="addIngredient">Add Ingredient</button>

        <div id="instructions">
            <div class="input-box long">
                <label class="input-label" for="cara1">
                    Instruction 1
                </label>
                <input 
                    type="text" 
                    name="cara[]" 
                    id="cara1" 
                    placeholder="Enter instruction" 
                    required
                >
                <button type="button" class="delete-button" onclick="removeInputBox(this)">Delete</button>

            </div>
        </div>
        <button type="button" id="addInstruction">Add Instruction</button>
        <br>
        <button type="submit" class="submitBtn">Submit</button>
</div>

<script src="/js/addRecipe.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="/css/addRecipe.css">