<div class="content">
    <div class="dashboard-title">
        <h1>Dashboard</h1>
    </div>
    <div class="result">
        <div class="containerTotal">
          <p id="totalResults"><%= recipes.length %> Results</p>
        </div>
        <div class="cardwrap" id="searchResults">
          <% if (recipes.length > 0) { %>
            <% recipes.forEach((recipe) => { %>
              <%- include('layouts/cardDashboard', { recipe: recipe}) %>
            <% }); %>
          <% } else { %>
            <p>No recipe</p>
          <% } %>
        </div>
        <button class="add">
          <a href="/addRecipe">Add Recipe</a>
      </button>
    </div>
</div>
<script>
    const recipes = `<%- JSON.stringify(recipes) %>`;

    function deleteRecipe(recipeID) {
    if (confirm("Apakah Anda yakin ingin menghapus resep ini?")) {
        fetch(`/dashboard/${recipeID}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            alert(data.message); // Tampilkan pesan sukses
            // Lakukan tindakan tambahan setelah resep dihapus, misalnya: perbarui tampilan halaman
            location.reload(); // Refresh halaman setelah menghapus resep
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
            alert('An error occurred while deleting the recipe'); // Tampilkan pesan kesalahan
        });
    }
}
</script>
<script src="/js/index.js"></script>
<script src="/js/searchDashboard.js"></script>
<script src="https://kit.fontawesome.com/0c466b3931.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/dashboard.css">