<div class="recipe">
    <div class="recipe-image">
        <img src= "img">
        <div class="desc">
        </div>
    </div>

    <div class="recipe-info">
        <div class="recipe-title">
            <h2 class="display-small"></h2>

            <button class="unsaved">
                <span class="iconUnsaved"><i class="fa-regular fa-bookmark"></i></span>
                <span class="save-text">Pin</span>
            </button>

            <button class="saved">
                <span class="iconSaved"><i class="fa-solid fa-bookmark"></i></span>
                <span class="unsaved-text">Unpin</span>
            </button>
        </div>  

        <div class="detail-stats">

            <div class="stats-item">
                <span class="ingr"></span>

                <span class="label-medium">Ingredients</span>
            </div>

            <div class="stats-item">
                <span class="mnt"></span>

                <span class="label-medium">Minutes</span>
            </div>

            <div class="stats-item">
                <span class="clr"></span>

                <span class="label-medium">Calories</span>
            </div>

        </div>

        <div class="tag-list">
            <div class="filter-chip"></div>
        </div>

        <h3 class="title-medium ingr-title">Ingredients
            <div class="serving-text">for <span class="serving"></span> Serving</span>
        </h3>

        <ul class="ingr-list">
        </ul>
        
        <h3 class="ingr-title">Instructions</h3>
        <ol class="inst-list">
        </ol>
    </div>
</div>

<link rel="stylesheet" href="css/detail.css">
<script src="js/btnDetail.js"></script>
<script src="js/detail.js"></script>