        <div class="recipe">
            <div class="recipe-image">
                <img src="/img/nasgor.png" alt="Gambar Nasgor">
                <div class="desc">
                    Delicious fried rice recipes are always perfect for breakfast, lunch or dinner. Topped with eggs, shredded chicken, prawns, beef meatballs and fish balls, make this special fried rice recipe your new family favorite.
                </div>
            </div>

            <div class="recipe-info">
                <div class="recipe-title">
                    <h2 class="display-small">Fried Rice</h2>

                    <button class="unsaved">
                        <span class="iconUnsaved"><i class="fa-regular fa-bookmark"></i></span>
                        <span class="save-text">Pin</span>
                    </button>

                    <button class="saved">
                        <span class="iconSaved"><i class="fa-solid fa-bookmark"></i></span>
                        <span class="unsaved-text">Unpin</span>
                    </button>
                </div>  

                <div class="detail-stats">

                    <div class="stats-item">
                        <span class="ingr">6</span>

                        <span class="label-medium">Ingredients</span>
                    </div>

                    <div class="stats-item">
                        <span class="mnt">10</span>

                        <span class="label-medium">Minutes</span>
                    </div>

                    <div class="stats-item">
                        <span class="clr">267</span>

                        <span class="label-medium">Calories</span>
                    </div>

                </div>

                <div class="tag-list">
                    <div class="filter-chip">Lunch</div>
                </div>

                <h3 class="title-medium ingr-title">Ingredients
                    <div class="serving-text">for <span class="serving">1</span> Serving</span>
                </h3>

                <ul class="ingr-list">
                    <li class="ingr-item">Rice</li>
                    <li class="ingr-item">Garlic</li>
                    <li class="ingr-item">Egg</li>
                    <li class="ingr-item">Sweet Soy Sauce</li>
                    <li class="ingr-item">Salt</li>
                    <li class="ingr-item">White Pepper</li>
                </ul>
                
                <h3 class="ingr-title">Instructions</h3>
                <ol class="inst-list">
                    <li class="inst-item">Heat oil over medium heat.</li>
                    <li class="inst-item">Saute spices until fragrant.</li>
                    <li class="inst-item">Add rice and egg, stir until smooth.</li>
                    <li class="inst-item">Add sweet soy sauce, stir again until smooth. </li>
                    <li class="inst-item">Remove from heat and serve with complementary fried rice. </li>
                </ol>
            </div>
        </div>

<script src="js/btnDetail.js"></script>
<script src="js/detail.js"></script>
<link rel="stylesheet" href="css/detail.css">