<% if (messages.errorMsg) { %>
    <div class="alert alert-danger" role="alert">
        <%= messages.errorMsg %>
    </div>
<% } %>

<div class="wrappereditp">
    <h1>Change Password</h1>

    <form action="/editPassword" method="POST" class="form-grid">
        <input type="hidden" name="user_id" value="<%= user._id %>">

        <div class="form-grid-split">
            <div class="form-grid-item">
                <label for="password">New Password</label>
                <input type="password" id="password" name="password" value="" placeholder="Enter New Password" required>
            </div>
            <div class="form-grid-item">
                <label for="password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" value="" placeholder="Confirm Password" required>
            </div>
        </div>
    
        <input type="submit" value="Change Password">
    </form>
</div>

<link rel="stylesheet" href="css/profile.css">
<script>
    const alertElement = document.querySelector('.alert');

// Periksa apakah elemen ada sebelum melanjutkan
if (alertElement) {
    // Tunggu 3 detik sebelum menyembunyikan pesan
    setTimeout(function() {
        alertElement.classList.add('hidden');
    }, 3000); // Waktu dalam milidetik (3 detik)
}
</script>