    <div class="wrapper">
            <h1>Login</h1>
            <div class="social-login">
                <h2>Choose a login method</h2>
                <button class="btn google-login">Login with Google</button>
                <button class="btn facebook-login">Login with Facebook</button>
                <button class="btn email-login">Login with Email</button>
            </div>

            <div class="register-link">
                <p>Don't have an account? <a href="/register">Register</a>
                </p>
            </div>
    </div>

    <script>
        var app = angular.module('myApp', []);

        app.controller('loginController', function ($scope, $window) {
            $scope.login = function () {
                console.log('Login clicked');
                // Store the username in localStorage
                localStorage.setItem('username', $scope.username);
                // Navigasi ke halaman index.html
                $window.location.href = 'home';
            };
        });
    </script>
    <link rel="stylesheet" href="css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>