  <div class="wrapper">
        <form ng-submit="login()">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" id="username" ng-model="username" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="remember-forgot">
                <label>
                    <input type="checkbox">Remember me
                </label>
                <a href="#">Forgot password?</a>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Don't have an account? <a href="/regis">Register</a>
                </p>
            </div>
        </form>
    </div>

    <script>
        var app = angular.module('myApp', []);

        app.controller('loginController', function ($scope, $window) {
            $scope.login = function () {
                console.log('Login clicked');
                // Store the username in localStorage
                localStorage.setItem('username', $scope.username);
                // Navigasi ke halaman index.html
                $window.location.href = '/home';
            };
        });
    </script>
    <link rel="stylesheet" href="css/login.css">