<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <%- include('layouts/headerIndex.ejs') %>
    <body ng-controller="myCtrl">
        <!-- Navigation-->
        <%- include('layouts/nav.ejs') %>
        <!-- Page Header-->
        <%- body %>
        <!-- Footer-->
        <%- include('layouts/footer.ejs') %>
    </body>
</html>