<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <!-- Header -->
    <%- include('layouts/head') %>
        <body ng-controller="myCtrl">

        <!-- Navbar -->
        <%- include('layouts/nav') %>
        
        <%- body %>
        
        <!-- Footer -->
        <%- include('layouts/footer') %>

        </body>
</html>