<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
    <%- include('layouts/head') %>

        <!-- Navbar -->
        <%- include('layouts/nav') %>
        
        <%- body %>
        
        <!-- Footer -->
        <%- include('layouts/footer') %>

        </body>
</html>