<div class="content">
  <div class="result">
    <h3>Pinned Recipes</h3>
    <div class="containerTotal">
      <p id="totalResults"><%= savedRecipes.length %> recipes</p>
    </div>
    <div class="cardwrap">
      <% if (savedRecipes.length > 0) { %>
        <% savedRecipes.forEach((recipe) => { %>
          <%- include('layouts/card', { recipe: recipe}) %>
        <% }); %>
      <% } else { %>
        <p>You haven't saved anything yet. Start browsing!</p>
      <% } %>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/pinned.css">
<script src="/js/pinned.js"></script>
<script src="/js/index.js"></script>
<script>
  const recipes = `<%- JSON.stringify(recipes) %>`;
</script>
<script src="/js/search.js"></script>
<script src="https://kit.fontawesome.com/0c466b3931.js" crossorigin="anonymous"></script>

