<div class="content">
  <div class="result">
    <h3>Search Result</h3>
    <div class="containerTotal">
      <p id="totalResults"><%= filteredRecipes.length %> Results</p>
      <div class="sort">
        <label for="sortSelect">Sort by:</label>
        <select id="sortSelect">
          <option value="relevance">Relevance</option>
          <option value="name">Name</option>
          <option value="time">Time</option>
        </select>
      </div>
    </div>
    <div class="cardwrap" id="searchResults">
      <% if (filteredRecipes.length > 0) { %>
        <% filteredRecipes.forEach((recipe) => { %>
          <%- include('layouts/card', { recipe: recipe}) %>
        <% }); %>
      <% } else { %>
        <p>No recipes found with that keyword</p>
      <% } %>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/css/search.css">
<script>
    const recipes = `<%- JSON.stringify(recipes) %>`;
</script>
<script src="/js/button.js"></script>
<script src="/js/search.js"></script>
<script src="/js/sort.js"></script>
<script src="https://kit.fontawesome.com/0c466b3931.js" crossorigin="anonymous"></script>