*{
    margin: 0;
    padding: 0;
  }
  
  /* Navbar  */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: lightgoldenrodyellow;
    border-bottom: 1px solid #ddd;
  }

  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* transition: 0.6s; */
    z-index: 1000;
    font-weight: bold;
  }
  
  .navbar__container {
    display: flex;
    align-items: center;
  }
  
  .navbar__brand {
    font-size: 36px; 
    color: #ff7f50; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    text-decoration: none;
    padding: 5px 15px; 
    text-align: center; 
    transition: 0.6s ease; 
    display: inline-block;
    border-radius: 100px;
  }

  .navbar__brand:hover {
    background-color: brown;
    text-decoration: none;
    color: gold;
    border-radius: 100px;
  }
  
  .navbar__menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar__item {
    margin-right: 20px;
  }
  
  .navbar__link {
    color: #333;
    text-decoration: none;
    padding: 5px;
  }

  .navbar__link:hover {
    color: red;
    text-decoration: none;
    transition: 0.3s ease;
  }
  
  .navbar__search {
    margin-left: auto;
  }
  
  .navbar__search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  
  .navbar__search-button {
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .navbar__search-button:hover {
    background-color: red;
    transition: 0.5s ease;
  }

  .navbar_profile{
    padding: 20px;
  }

  /* Konten  */

  .recipe {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 30px;
}

.recipe-image {
    width: 30%;
    height: auto;
    align-items: center;
}

.recipe-image img{
    width: 100%;
    height: 350px;
    margin-bottom: 40px;
}

.desc {
  border-top: 1px solid black;  
  text-align: justify;
  font-size: 18px;
  padding: 40px;
  border-bottom: 1px solid black;  
}

.review-box {
  width: 500px;
  height: 600px;
  background-color: lightgoldenrodyellow;
  margin-top: 60px;
  padding: 40px;
  margin-bottom: 40px;
}

.review-box-title {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.review-name {
  display: flex;
  margin-bottom: 20px;
}

.review-name img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin: 0;
  object-fit: cover;
}

.name-text {
  font-size: 22px;
  font-weight: 550;
  margin-left: 20px;
  margin-top: 17px;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rating-title {
  font-size: 18px;
  font-weight: 500;
}

.rating-star {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  font-size: 45px;
  color: #ddd;
  float: right;
  -webkit-text-stroke: 2px #555;
  margin-right: 10px;
}

.rating label:before {
  content: "\2605"; /* karakter bintang */
}

.rating input:checked ~ label,
.rating input:hover ~ label{
  color: #ffc107;
}

.rating input:checked ~ label:before {
  content: "\2605"; /* karakter bintang */
}

.rating-text {
  display: inline;
  margin-left: 20px;
  font-size: 18px;
}

.rating-text .rtext {
  display: inline; 
  font-size: 18px;
}

.rating-text .rtext.hide {
  display: none;
}

.rating input:checked ~ .rating-text .rtext {
  display: inline;
}

.review-title {
  font-size: 18px;
  font-weight: 500;
}

.review-textarea {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* Mencegah perubahan ukuran textarea oleh pengguna */
  font-size: 16px;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: #4CAF50;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.submit-button:hover {
  background-color: #45a049; /* Efek hover saat kursor diarahkan ke tombol */
}

.rating-container {
  display: flex;
  align-items: center;
}

.sub-rating-date {
  font-size: 30px;
  color: #ddd;
}

.sub-date {
  margin-left: 20px;
  font-weight: 300;
  font-size: 12px;
}

.sub-review {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.recipe-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.foodName {
  font-size: 30px;
  font-weight: bold;
}

button.saved {
  display: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button.unsaved {
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.recipe-info {
    margin-left: 50px;
    width: 500px;
}

.detail-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
}

.stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 16px;
}

.stats-item:not(:last-child) {
    border-inline-end: 1px solid black;
} 

.ingr, .mnt, .clr {
    font-size: 30px;
}

.detail-stats .stats-item .label-medium {
    color: red;
    opacity: 1;
}

/* Style untuk kontainer tag-list */
.tag-list {
  display: flex;
  flex-wrap: wrap; /* Item akan meluncur ke baris baru jika tidak cukup ruang */
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

/* Style untuk setiap filter-chip */
.filter-chip {
  padding: 8px 10px; 
  margin-right: 8px; 
  margin-bottom: 20px; 
  border-radius: 50px; 
  background-color: gold;
  font-size: 15px; 
  font-weight: 550;
  line-height: 1.5; 
  cursor: pointer;
  animation: filtertext 1.5s infinite ;
}

@keyframes filtertext {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/* Style untuk filter chip yang sedang dihover */
.filter-chip:hover {
    background-color: #e0e0e0; 
}

details{
    margin-bottom: 20px;
    width: 500px;
}

summary {
    border-radius: 1em;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: rgb(255, 255, 116);
    transition: background-color .3s ease;
    &:hover{
      background-color: rgb(249, 249, 178);
    }
}

.animate > :not(summary, .serving){
  animation: sweep .3s ease-in;
}

@keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

/* details[open] summary::after {
  content: " -";
}
details summary::after {
  content: " +";
} */

.ingr-title {
  font-size: 20px;
  font-weight:600;
}

 .serving-text {
    opacity: 0.8;
    font-size: 14px;
}

.ingr-list {
    padding-block-start: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 500px;
    padding: 20px;
}

.ingr-item {
    margin-block: 6px;
    list-style-type: disc;
    margin-inline-start: 24px;
    word-spacing: 3px;
}

.inst-title {
    font-size: 20px;
    font-weight:600;
}

.inst-list {
    margin-bottom: 10px;
    width: 500px;
    padding: 0px 20px 20px 20px;
}

.inst-item {
    margin-block: 20px;
    margin-inline-start: 20px;
    text-align: justify;
    word-spacing: 3px;
    line-height: 2;
}

/* Footer  */
.footer {
  padding: 20px;
  background-color: #222;
  color: white;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: lightblue;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__brand {
  font-size: 16px; /* Ukuran font */
  color: #ff7f50; /* Warna teks */
  text-transform: uppercase; /* Merubah teks menjadi huruf kapital */
  letter-spacing: 2px; /* Jarak antara huruf */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Bayangan teks */
  text-align: center; 
  display: inline-block;
}

.footer p {
  margin: 10px 0;
}

.footer .social-icons {
  margin-top: 10px;
}

.footer .social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
}