*{
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    position: relative;
    }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/detail-bg.jpg');
    background-size: contain;
    background-position: center; 
    filter: blur(1.8px); /* Adjust the blur radius as needed */
    z-index: -1; /* Ensure the pseudo-element is behind other content */
  }  
  
  /* Navbar  */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: lightgoldenrodyellow;
    border-bottom: 1px solid #ddd;
  }

  header{
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* transition: 0.6s; */
    z-index: 1000;
    font-weight: bold;
  }
  
  .navbar__container {
    display: flex;
    align-items: center;
  }
  
  .navbar__brand {
    font-size: 33px; 
    color: #ff7f50; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    text-decoration: none;
    padding: 5px 15px; 
    text-align: center; 
    transition: 0.6s ease;
    display: inline-block;
    border-radius: 100px;
  }
  
  .navbar__brand:hover {
    background-color: brown;
    text-decoration: none;
    color: gold;
    border-radius: 100px;
  }
  
  .navbar__menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar__item {
    margin-right: 15px;
  }
  
  .navbar__link {
    font-size: 15px;
    color: #333;
    text-decoration: none;
    padding: 5px;
  }
  
  .navbar__link:hover {
    color: red;
    transition: 0.3s ease;
    text-decoration: none;
  }
  
  .navbar__search {
    margin-left: auto;
  }
  
  .navbar__search-input {
    height: 35px;
    width: 255px;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  
  .search-results {
    width: 255px;
    border-radius: 15px;
    height: 240px;
    margin-top: 8px;
    padding: 5px;
    border: 2px solid #333;
    box-sizing: border-box; 
    display: none;
    position: absolute;
    z-index: 2; 
    background-color: white;
    overflow: hidden;
  }
  
  .search-results ul {
    overflow-y: auto;
    width: 247px;
    height: 230px;
    margin: 0;
    background-color: rgb(255, 255, 255); 
  }
  
  .search-results ul::-webkit-scrollbar-thumb {
    background-color: #d1dbe3;
    border: 4px solid transparent;
    border-radius: 15px;
    background-clip: padding-box;  
  }
  
  .search-results ul::-webkit-scrollbar {
    width: 13px;
  }
  
  .search-results a {
    text-decoration: none; 
    font-size: 14px;
    color: #333; 
  }
  
  .search-results li {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
    color: #333; 
  }
  
  .thumbnail {
    width: 40px;
    height: 40px;
    margin-right: 10px; 
  }
  
  .search-results li:hover { 
    background-color: rgb(220, 220, 220);
    cursor: pointer; 
  }
  
  .search-results li:hover a { 
    /* color: red; */
    cursor: pointer; 
  }
  
  .no-result-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    font-size: 12px; 
  }
  
  .navbar__search-button {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .navbar__search-button:hover {
    background-color: red;
    transition: 0.5s ease;
  }
  
  .navbar_profile{
    margin-left: 15px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: 0.6s ease;
  }
  
  .navbar_profile:hover{
    border-radius: 50px;
    background-color: red;
  }
  
  .list{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .listItem{
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
  }
  
  .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

    /* Konten */
    /* .content {
        margin-top: 100px;
        padding-right: 100px;
        padding-left: 100px;
        padding-bottom: 20px;
      } */
    
      h1 {
        font-size: 28px;
        font-weight: bolder;
      }

      img {
        width: 200px;
        height: 100%;
        object-fit: cover;
      }

      .content {
        max-width: 600px; 
        margin-top: 120px; 
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 60px;
        padding: 40px;
        background-color: lightgoldenrodyellow;
        border-radius: 30px;
        border: 2px solid #ff7f50;
        padding: 45px;
        box-shadow: 10px 10px 5px 0px #ff7f50aa;
    }
    
    .input-box {
        margin-bottom: 20px;
    }
    
    .input-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .input-label.image{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    input[type="text"],
    input[type="file"]{
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    .input-box.food-name input[type="text"] {
        width: 250px;
    }
    
    .input-box.small input[type="text"] {
        width: 100px;
    }
    
    .input-box.long input[type="text"] {
        width: 400px;
    }
    
    .input-box.food-image input[type="file"] {
        width: 250px;
    }
    
    textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        resize: none;
    }
    
    .radio-label {
        margin-right: 10px;
    }

    #addIngredient,
#addInstruction
{
    padding: 5px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#addIngredient:hover,
#addInstruction:hover{
    background-color: #45a049;
}

.delete-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: #da190b;
} 

.submitBtn {
  background-color: #008CBA; /* Warna latar biru */
    border: none; /* Tanpa border */
    color: white; /* Warna teks putih */
    padding: 15px 25px; /* Padding di dalam tombol */
    text-align: center; /* Teks di tengah tombol */
    text-decoration: none; /* Tanpa dekorasi teks */
    display: inline-block; /* Menjadikan tombol sebagai elemen inline block */
    font-size: 16px; /* Ukuran teks */
    margin-top: 20px;
    margin-left: 2px;
    cursor: pointer; /* Ubah kursor menjadi tangan saat digulir */
    border-radius: 5px; /* Rounding sudut */
    transition: background-color 0.3s; /* Efek transisi untuk perubahan warna latar belakang */
}

.submitBtn:hover {
    background-color: #005F6B; /* Warna latar belakang berubah saat hover */

}

    /* Footer */
.footer {
    padding: 20px;
    background-color: #222;
    color: white;
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: lightblue;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer__brand {
    font-size: 16px; 
    color: #ff7f50; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center; 
    display: inline-block;
}

.footer p {
    margin: 10px 0;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
}
