* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/img/banner.png') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.wrapper {
    width: 400px; /* Mengubah lebar wrapper agar sesuai dengan konten */
    background: #41557e;
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center; /* Mengatur teks menjadi rata tengah */
    display: flex;
    flex-direction: column; /* Mengatur arah konten menjadi vertikal */
    justify-content: center; /* Menengahkan konten secara vertikal */
    align-items: center; /* Menengahkan konten secara horizontal */
}

.wrapper h1 {
    font-size: 24px; /* Mengurangi ukuran font h1 */
    margin-bottom: 20px;
}

.wrapper p {
    font-size: 16px; /* Mengurangi ukuran font h1 */
    margin-bottom: 20px;
}

.loginButton{
    width: 150px;
    padding: 15px 25px;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .google{
    background-color: white;
  }
  .email{
    background-color: #df4930;
  }
  
  .loginButton i{
    font-size: 30px;
    margin-right: 10px;
    left: 10px; /* Menyesuaikan posisi logo */
  }

.register-link {
    font-size: 14px;
    margin-top: 10px; /* Mengurangi margin atas untuk rapih */
}

.register-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .input-box .input-field{
        width: 100%;
        margin: 10px 0;
    }
}