* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/img/detail-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.wrapper {
    width: 750px; /* Mengubah lebar wrapper agar sesuai dengan konten */
    background: lightgoldenrodyellow;
    color: black;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    align-items: center; /* Menengahkan konten secara horizontal */
    border: 15px solid #ff7f50
}

.image-container {
    flex: 1;
  }

.logincontainer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper h1 {
    font-size: 27px; /* Mengurangi ukuran font h1 */
    margin-bottom: 20px;
    font-size: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.wrapper p {
    font-size: 15px; /* Mengurangi ukuran font h1 */
    margin-bottom: 20px;
}

.loginButton{
    width: 150px;
    padding: 15px 25px;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
    border: 3px solid #ff7f50;
  }
  
  .google:hover{
    background-color: yellow;
    border: 3px solid yellow;
  }
  .email{
    background-color: #df4930;
    border: 3px solid #df4930;
  }
  
  .loginButton i{
    font-size: 30px;
    margin-right: 10px;
    left: 10px; /* Menyesuaikan posisi logo */
  }

.register-link {
    font-size: 14px;
    margin-top: 10px; /* Mengurangi margin atas untuk rapih */
}

.register-link a {
    color: #ff7f50;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    color: red;
}

@media (max-width: 576px) {
    .input-box .input-field{
        width: 100%;
        margin: 10px 0;
    }
}