*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/img/banner.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.alert {
    position: fixed;
    z-index: 1000;
    width: 490px;
}

.wrapper{
    width: 750px;
    background: #41557e;
    border-radius: 10px;
    color: #fff;
    padding: 30px;
    /* margin: 0 10px; */
    display: flex;
    align-items: center;
}

.image-container {
    margin-top: 20px;
    flex: 1;
}

.regiscontainer {
    /* background-color: aquamarine; */
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.regiscontainer form {
    width: 90%;
}

.regiscontainer h1{
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
}

.regiscontainer .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.regiscontainer .input-box .input-field{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 13px 0;
}

.regiscontainer .input-box .input-field input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.regiscontainer .input-box .input-field input::placeholder{
    color: #fff;
    opacity: 0.4;
}

.regiscontainer .input-box .input-field i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.regiscontainer label{
    display: inline-block;
    font-size: 15px;
    margin: 10px 0 23px;
}

.regiscontainer label input{
    accent-color: #fff;
    margin-right: 5px;
}

.regiscontainer .btn{
    width: 200px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.login-link {
    text-align: center;
    font-size: 15px;
    margin-top: 10px; /* Mengurangi margin atas untuk rapih */
}

.login-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-link a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .input-box .input-field{
        width: 100%;
        margin: 10px 0;
    }
}