<div class="popup" id="popup">
    <div class="top">
      <i class="fa-solid fa-folder-plus fa-lg" style="color: #ffffff;"></i><p>New Folder</p>
      <span class="close" onclick="closePopup()"><i class="fa fa-close" style="color: #ffffff;"></i></span>
    </div>
    <div class="popup-content">
      <form id="folderForm">
        <div class="name">
          <label for="folderName">Folder Name</label><br>
          <input type="text" id="folderName" name="folderName" maxlength="10" placeholder="Give your folder a name"><br>
        </div>
        <div class="desc">
        <label for="description">Description (optional)</label><br>
          <textarea id="description" name="description" maxlength="300" placeholder="Describe your folder"></textarea><br>
          <div class="count" id="charCount">0/300 characters</div>
        </div>
        <div class="button-container">
          <a href="#" class="cancel" onclick="closePopup()">Cancel</a>
          <button type="submit" id="confirmButton">Create Folder</button>
        </div> 
      </form>
    </div>
</div>